<div class="container" style="margin-left: 1%;">
  <div class="col-lg-5 col-md-5 col-sm-5">
    <h1 class="row" style="margin-top: 30%;">Authorized Your self</h1>
    <div class="row">
      <div  class="logerrDiv" *ngIf="loginError"><span  [style.color]="loginErr? 'azure': ''">{{loginErr}}</span></div>
      <div class="form-group" style="margin-top: 2%;">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-user"></i>
          </span>
          <input type="text" name="userEmail" autocomplete="on" placeholder="email (required)" class="form-control" [(ngModel)]="loginObject.user" (keyup)="loginEmail()">
        </div>
        <p class="err">{{loginObject.userErr}}</p>
      </div>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-lock"></i>
          </span>
          <input type="password" placeholder="password (required)" class="form-control" [(ngModel)]="loginObject.password" (keyup)="loginPass()">
        </div>
        <p class="err">{{loginObject.passErr}}</p>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="button" (click)="login()">{{loginText}}</button>
        <a href="javascript:void(0);" class="btn btn-warning">Forgot Password</a>
      </div>
    </div>
  </div>
  <div class="col-lg-1 col-md-1 col-sm-1" style="height: 100vh;">
    <hr style="height: 100vh;">
  </div>
  <div class="col-lg-5 col-md-5 col-sm-5" style="height: 100vh;">
    <h1 class="row" style="text-align: center; margin-top: 30%;">REGISTRATION FORM</h1>
    <div class="row" style="margin-left: 6%;">
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon" style="color: green;">
            <i class="glyphicon glyphicon-user"></i>
          </span>
          <input type="text" name="firstName"autocomplete="on"  class="form-control" placeholder="First name (required)" (keyup)="validationFun('fname')" [(ngModel)]="userModel.firstName"
            autocomplete="on">
        </div>
        <p class="err">{{errorText.fname}}</p>
      </div>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon" style="color: green;">
            <i class="glyphicon glyphicon-user"></i>
          </span>
          <input type="text" name="lastName" autocomplete="on"  class="form-control" placeholder="Last name (optional)" (keyup)="validationFun('lname')" [(ngModel)]="userModel.lastName">
        </div>
        <p class="err">{{errorText.lname}}</p>
      </div>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon" style="color: green;">
            <i class="glyphicon glyphicon-envelope"></i>
          </span>
          <input type="email"  name="userEmail" autocomplete="on" placeholder="email(required)" class="form-control" (keyup)="validationFun('email')" [(ngModel)]="userModel.email"
            autocomplete="on">
        </div>
        <p class="err">{{errorText.email}}</p>
      </div>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon" style="color: green;">
            <i class="glyphicon glyphicon-eye-close"></i>
          </span>
          <input type="password" placeholder="Password(required)" class="form-control" (keyup)="validationFun('password')" [(ngModel)]="userModel.password">
        </div>
        <p class="err">{{errorText.password}}</p>
      </div>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon" style="color: green;">
            <i class="glyphicon glyphicon-eye-close"></i>
          </span>
          <input type="password" placeholder="Retype password(required)" class="form-control" (keyup)="validationFun('cpassword')"
            [(ngModel)]="userModel.cpassword">
        </div>
        <p class="err">{{errorText.cpassword}}</p>
      </div>
      <div class="form-group">
        <div class="radio">
          <label>
            <input class="radio-inline" (click)="selectGender('Male')" name="gen" type="radio">Mal</label>
          <label>
            <input class="radio-inline" (click)="selectGender('Female')" name="gen" type="radio">Fem</label>
          <label>
            <input class="radio-inline" (click)="selectGender('Other')" name="gen" type="radio">Oth</label>
        </div>
        <p class="err">{{errorText.gender}}</p>
      </div>
      <div class="form-group">
        <button class="btn btn-danger" (click)="register()">{{signupText}}</button>
      </div>
    </div>
  </div>
</div>

<!-- Verify pin-->
<div class="outerDiv" *ngIf="modelShow">
  <div class="innerDiv">
    <div>
      <span>
        <i class="glyphicon glyphicon-remove-circle" (click)="closeModal()"></i>
      </span>
    </div>
    <div>
      <div class="form-group">
        <h5>Enter activation pin send to your email</h5>
        <div class="input-group">
          <span class="input-group-addon" style="color:red;">
            <i class="glyphicon glyphicon-lock"></i>
          </span>
          <input type="password" style="font-size: -webkit-xxx-large;" placeholder="6 character pin(required)" pattern=".{6}" class="form-control"
            [(ngModel)]="activePin">
        </div>
        <p style="color: white">{{pinError}}</p>
      </div>
      <button type="button" class="btn btn-info" (click)="verifyCode()">{{verifyText}}</button>
      <button type="button" class="btn btn-danger" style="margin-left: 5%;" (click)="resendCode()">{{resendText}}</button>
      <button type="button" class="btn btn-info" (click)="closeModal()">Cancel</button>
    </div>
  </div>
</div>
<!-- Later activate model-->
