<div class="containar">
  <div style="width: 100%;background-color: orangered;">
    <div style="float: left; width: 30%;">
      <a hraf="javascript:void(0)">
        <img src="../../../../../assets/images/title.gif" />
      </a>
    </div> <!--Showing name of application -->
    <div style="float: left; width:30%;">
      <p style="text-align: center;"><b>Biplab Malakar</b></p>
    </div> <!--Showing user name -->
    <div style="margin-left: 74%;">
      <a href="javascript:void(0)">
        <span class="glyphicon glyphicon-user">
          <b>Profile</b>
        </span>
      </a>
      <a href="javascript:void(0)" style="padding-left:9%">
        <span class="glyphicon glyphicon-home">
          <b>Poster</b>
        </span>
      </a>
      <a href="javascript:void(0)" style="padding-left:9%">
        <span class="glyphicon glyphicon-cog">
          <b>Setting</b>
        </span>
      </a>
      <a href="javascript:void(0)" style="padding-left:9%;">
        <span class="glyphicon glyphicon-log-out">
          <b>Logout</b>
        </span>
      </a>
    </div>  <!--Showing option for action -->
  </div>
</div>