<div>
  <div class="col-sm-4 ">
    <div class="avatar">
      <img src="{{_userModelService.getUser()?.profile_image? _userModelService.getUser().profile_image:'../../../assets/images/profileimage.jpg'}}" class="img-rounded img-responsive" alt="profile_image" />
      <a class="uploadBtn" href="javascript:void(0)" (click)="uploadImage()">
        <i class="fa fa-cloud-upload"> upload</i>
      </a>
      <img class="img-rounded img-responsive loading" *ngIf="loadingImg" src="../../../assets/images/loading.gif"
        alt="loading" />
    </div>

  </div>
  <div class="col-sm-7">
    <h1>Profile editor</h1>
  </div>
</div>